<div class="container content-container">

  <div class="row">
    <div class="col-md-6">
      <h2><span class="glyphicon glyphicon-wrench"></span> Repair Details</h2>

      <div class="form-group">
        <%= label_tag :customer_name %><br/>
        <span class="unmutable-attribute"><%= @repair.customer.name.capitalize %></span>
      </div>

      <div class="form-group">
        <%= label_tag :employee_name %><br/>
        <span class="unmutable-attribute"><%= @repair.employee.name.capitalize %></span>
      </div>

      <div class="form-group">
        <%= label_tag :requested_for %><br/>
        <span class="unmutable-attribute js-timestamp"><%= datetime_format @repair.requested_for %></span>
      </div>

      <div class="form-group">
        <%= label_tag :description %><br/>
        <span class="unmutable-attribute"><%= @repair.description %></span>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <h2><span class="glyphicon glyphicon-hdd"></span> Computer Specs</h2>
        <% computer = @repair.computer || Computer.new %>
        <div class="form-group">
          <%= label_tag :type %><br/>
          <span class="unmutable-attribute"><%= computer.type %></span>
        </div>
        <div class="form-group">
          <%= label_tag :model %><br/>
          <span class="unmutable-attribute"><%= computer.model %></span>
        </div>
        <div class="form-group">
          <%= label_tag :serial %><br/>
          <span class="unmutable-attribute"><%= computer.serial %></span>
        </div>
        <div class="form-group">
          <%= label_tag :purchased_at %><br/>
          <span class="unmutable-attribute"><%= datetime_format(computer.purchased_at) %></span>
        </div>
      </div>
      <div class="checkbox">
        <%= label_tag :warranty do %>
        <%= check_box_tag :warranty, :warranty, computer.has_warranty?, disabled: true %> <strong>has warranty</strong>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2><span class="glyphicon glyphicon-tags"></span> Parts</h2>
      <table class="table table-striped">
        <tr>
          <th>Model</th>
          <th>Serial</th>
          <th>Cost</th>
          <th>Quantity</th>
        </tr>

        <% @repair.parts.each do |part| %>
          <tr>
            <td><%= part.model %></td>
            <td><%= part.serial %></td>
            <td><%= number_to_currency part.cost %></td>
            <td><%= part.quantity %></td>
          </tr>
        <% end %>

        <tr>
          <th></th>
          <th></th>
          <th id="total-parts-cost"><%= number_to_currency @repair.parts.collect{|x|x.cost.to_f*x.quantity}.sum %></th>
          <th><%= @repair.parts.collect{|x|x.quantity}.sum %></th>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <h2><span class="glyphicon glyphicon-tasks"></span> Costs</h2>

        <div class="form-group">
          <%= label_tag :labor_cost %><br/>
          <span class="unmutable-attribute"><%= number_to_currency @repair.labor_cost %></span>
        </div>

        <div class="form-group">
          <%= label_tag :total_cost %><br/>
          <span class="unmutable-attribute"><%= number_to_currency @repair.total_cost %></span>
        </div>
      </div>
    </div>
  </div>

</div>
<br />
