<div class="container content-container">
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <td class="repair-header" colspan="5">
            <h3>
              Unassigned Repairs
              <span class="badge badge-header-count"> <%= Repair.all.unassigned.count%> </span>
            </h3>
          </td>
        </tr>
        <tr>
          <th>Customer</th>
          <th>Description</th>
          <th>Requested For</th>
          <th>Status</th>
          <th class="text-right">Actions</th>
        </tr>
        <% Repair.all.unassigned.order_by_date.each do |repair| %>
          <tr>
            <td><%= repair.customer.name %></td>
            <td><%= repair.description %></td>
            <td class="js-timestamp"><%= datetime_format repair.requested_for %></td>
            <td><%= repair.status %></td>
            <td class="repair-action text-right">
              <%= link_to employee_take_ownership_path(repair.id), class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-tower"></span> Take Ownership
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
      </table>
    </div>

    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <td class="repair-header" colspan="5">
            <h3>
              My Repairs
              <span class="badge badge-header-count"> <%= current_user.repairs.count %> </span>
            </h3>
          </td>
        </tr>
        <tr>
          <th>Customer</th>
          <th>Description</th>
          <th>Requested For</th>
          <th>Status</th>
          <th class="text-right">Actions</th>
        </tr>

        <% current_user.repairs.order_by_date.each do |repair| %>
          <tr>
            <td><%= repair.customer.name %></td>
            <td><%= repair.description %></td>
            <td class="js-timestamp"><%= datetime_format repair.requested_for %></td>
            <td><%= repair.status %></td>
            <td class="repair-action text-right">
              <%= link_to employee_repair_path(repair.id), class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-eye-open"></span> View
              <% end %>
              <%= link_to edit_employee_repair_path(repair.id), class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-pencil"></span> Edit
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <tr>
          <td class="repair-header" colspan="5"> <h3>Employee Stats</h3> </td>
        </tr>

        <tr>
          <td>Average Turnaround Time</td>
          <td><%= Employee.average_turnaround_time %> days</td>
        </tr>
        <tr>
          <td>Employee Of The Month</td>
          <td><%= Employee.of_the_month.try(:name) %></td>
        </tr>
        <tr>
          <td>Lowest Rated Employee</td>
          <td><%= Employee.find(Employee.lowest_rated).name %></td>
        </tr>
        <tr>
          <td>New Employees</td>
          <td><%= Employee.find(Employee.n00b).name %></td>
        </tr>
        <tr>
          <td>Experienced Employees</td>
          <td>
            <% Employee.old_hats.each do |employee| %>
              <%= employee[0] %> <br/>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h3>Other</h3>
      <%= link_to 'Archive Repairs', employee_archive_path, class: 'btn btn-danger' %><br />
      <small><i>Archives all repairs and parts older than 90 days</i></small>
    </div>
  </div>
</div>
