<div class="container content-container">
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <tr>
          <td class="repair-header" colspan="5">
            <h3>
              Unassigned Repairs
              <span class="badge badge-header-count"> <%= Repair.all.unassigned.count%> </span>
            </h3>
          </td>
        </tr>
        <tr>
          <th>Customer Name</th>
          <th>Description</th>
          <th>Requested For</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        <% Repair.all.unassigned.order_by_date.each do |repair| %>
          <tr>
            <td><%= repair.customer.name %></td>
            <td><%= repair.description %></td>
            <td class="js-timestamp"><%= repair.requested_for %></td>
            <td><%= repair.status %></td>
            <td class="repair-action">
              <%= link_to employee_take_ownership_path(repair.id), class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-tower"></span> Take Ownership
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
        <tr>
          <td class="repair-header" colspan="5"> <h3>My Repairs</h3> </td>
        </tr>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Requested For</th>
          <th>Status</th>
          <th>Action</th>
        </tr>

        <% current_user.repairs.order_by_date.each do |repair| %>
          <tr>
            <td><%= repair.customer.name %></td>
            <td><%= repair.description %></td>
            <td class="js-timestamp"><%= repair.requested_for %></td>
            <td><%= repair.status %></td>
            <td class="repair-action">
              <%= link_to employee_repair_path(repair.id), class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-eye-open"></span> View
              <% end %>
              <%= link_to edit_employee_repair_path(repair.id), class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-pencil"></span> Edit
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <table class="table table-striped">
      <tr>
        <td class="repair-header" colspan="5"> <h3>Employee Stats</h3> </td>
      </tr>

      <tr>
        <td>Average Turnaround Time</td>
        <td><%= Employee.average_turnaround_time %></td>
      </tr>
      <tr>
        <td>Employee Of The Month</td>
        <td><%= Employee.find_by_id(Employee.of_the_month).name %></td>
      </tr>
      <tr>
        <td>Lowest Rated Employee</td>
        <td><%= Employee.find_by_id(Employee.lowest_rated).name %></td>
      </tr>
      <tr>
        <td>New Employees</td>
        <td><%= Employee.find_by_id(Employee.n00b).name %></td>
      </tr>
      <tr>
        <td>Experienced Employees</td>
        <td><%= Employee.old_hats %></td>
      </tr>

    </table>
  </div>
</div>
