<div class="container content-container">
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col-md-4">
      <h3>Request Repair</h3>
      <%= form_for :repair, url: repairs_path, method: :post do |f|%>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :requested_for %>
          <div id="datetimepicker" class="input-group input-append date">
            <%= f.text_field :requested_for, class: 'form-control js-timestamp' %>
            <span class="input-group-addon add-on">
              <i class="glyphicon glyphicon-calendar"></i>
            </span>
          </div>
        </div>
        <%= f.hidden_field :offset, class: 'js-offset' %>
        <%= f.submit 'Submit', class: 'btn btn-info' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <table class="table table-striped">
        <tr>
          <td class="repair-header" colspan="5"> <h3>Upcoming Repairs</h3> </td>
        </tr>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Requested For</th>
          <th>Status</th>
          <th>Action</th>
        </tr>

        <% current_user.repairs.upcoming.order_by_date.each do |repair| %>
          <tr>
            <td><%= repair.customer.name %></td>
            <td><%= repair.description %></td>
            <td class="js-timestamp"><%= repair.requested_for %></td>
            <td><%= repair.status %></td>
            <td class="repair-action">
              <%= link_to repair_path(repair.id), class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-eye-open"></span> View
              <% end %>
              <%= link_to repair_path(repair.id), method: :delete, 'data-confirm'=>'Are you sure?', class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-trash"></span> Delete
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td class="repair-header" colspan="5"> <h3>Past Repairs</h3> </td>
        </tr>
          <% current_user.repairs.past.order_by_date.each do |repair| %>
              <tr>
                <td><%= repair.customer.name %></td>
                <td><%= repair.description %></td>
                <td class="js-timestamp"><%= repair.requested_for %></td>
                <td><%= repair.status %></td>
                <td class="repair-action">
                  <%= link_to repair_path(repair.id), class: "btn btn-default" do %>
                    <span class="glyphicon glyphicon-eye-open"></span> View
                  <% end %>
                  <%= link_to repair_path(repair.id), method: :delete, 'data-confirm'=>'Are you sure?', class: "btn btn-default" do %>
                    <span class="glyphicon glyphicon-trash"></span> Delete
                  <% end %>
                </td>
              </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
