  <h1>Repairs</h1>

  <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> Create New repair"), new_repair_path,
      class: "btn btn-default btn-lg" %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Employee</th>
        <th>Computer</th>
        <th>Description</th>
        <th>Labor Cost</th>
        <th>Total Cost</th>
        <th>Created At</th>
        <th>Updated At</th>
      </tr>
    </thead>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.customer.name %></td>
        <td><%= repair.employee.name %></td>
        <td><%= repair.computer.model %></td>
        <td><%= repair.description %></td>
        <td><%= repair.labor_cost %></td>
        <td><%= repair.total_cost %></td>
        <td><%= repair.status %></td>
        <td><%= repair.created_at %></td>
        <td><%= repair.updated_at %></td>
        <td>
            <%= link_to raw("<span class=\"glyphicon fa fa-eye\"></span> View"), repair_path(repair.id),
            class: "btn btn-default" %>

            <%= link_to raw("<span class=\"glyphicon glyphicon-edit\"></span> Edit"), edit_repair_path(repair.id),
            class: "btn btn-default" %>

            <%= link_to raw("<span class=\"glyphicon glyphicon-trash\"></span> Delete"), repair_path(repair.id),
            method: :delete, 'data-confirm'=>'Are you sure?', class: "btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </table>
