<!DOCTYPE html>
<html>
  <head>
    <title>ComputerRepairStore</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if flash[:notice].present? %>
      <div id="flash-message" class="well">
        <%= flash[:notice] %>
        <span class="js-close" data-close="flash-message">X</span>
      </div>
    <% end %>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <%= link_to "Fixnow.me", employee_dashboard_path, class: "navbar-brand" %>
          <h4 class="pull-right username">Employee</h4>
        </div>
        <% if current_user.is_a?(Employee) %>
          <%= link_to "Logout", employee_logout_path, class: "navbar-brand logout" %>
          <h4 class="pull-right username"> Hi, <%= current_user.name %> </h4>
        <% end %>

      </div>
    </nav>


      <%= yield %>

  </body>
</html>
